.home-card {
    margin: 8rem auto 0;
    border: solid 0.3rem rgb(42, 62, 50);
    border-radius: 10%;
    background-color: rgb(106, 140, 106);
    width: 40rem;
    max-width: 90%;
    height: 60%;
}

#home-img{
    margin: 1rem auto;
    width: 50%;
    height: 35%;

}

.Home > h2{
    text-align: center;;
}

#buttons{
    margin: 0 auto 1rem;
    width: 90%;
}

.btn-home {
    width: 100%;
    margin-bottom: 1rem;
}